* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
  color: #000;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: rgb(228, 228, 228);
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}
.Nav{
  display: flex;
  align-items: center;
  gap: 15px;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6A5ACD;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a, nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

main {
  display: flex;
  /* justify-content: center;
  flex-direction: column;
  width: 100%; */
  align-items: center;
  /* max-width: 500px; */
  margin: auto;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.form {
  display:'flex';
  width: 100%;
  max-width: 900px;
  flex-direction:'column';
  justify-content:'center';
}
section {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

article {
  margin: 0.5em;
  width: 100%;
  max-width: 380px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a, 
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover, 
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  font-style: italic;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: #000;
  font-size: 1rem;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}